body{
    background-color : black;
    color: white;
}
header{
    display: flex;
    font-family: 'Nunito', sans-serif;
    font-size : 350%;
    text-align: center;
    border-style : solid;
    border-radius : 30px;
    font-weight: 800;
    border-color : white;
    background: #8DF49B;
background: linear-gradient(to bottom, #8DF49B 10%, #599DF8 90%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.titre{
    flex-basis: 80%;
    margin-left: 10%;
}
.home{
    flex-basis: 10%;
}
.icon{
    width: 20%;
}

nav{
    display: flex;
    background: #8DF49B;
    background: linear-gradient(to bottom, #8DF49B 10%, #599DF8 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Nunito', sans-serif;
    font-size : 300%;
    margin-left : 20%;
    margin-right: 20%;
    margin-top : 20px; 
}

.main{
    margin-left : 30%
}

u{
    border-bottom-style: solid;
    border-color : #599DF8;
    font-weight: 800;
    
}

.art{
    font-family: 'Nunito', sans-serif;
    font-size : 150%;
    margin-top : 5%
}